<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Urban Cloud Technologies</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    {%load static%}

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark p-0">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="fa fa-map-marker-alt text-primary me-2"></small>
                    <small>C-1901, Platina Lodha Palava Near Lodha World School, Kalyan - Shilphata Rd, Dombivli East, Mumbai Maharashtra 421204</small>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="fa fa-phone-alt text-primary me-2"></small>
                    <small>+91 8625086058</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center mx-n2">
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-square btn-link rounded-0" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="/" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
            <h2 class="m-0 text-primary">Urban Cloud Technologies</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'aboutus' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'service' %}" class="nav-item nav-link active">Service</a>
                <a href="{% url 'contactus' %}" class="nav-item nav-link">Contact</a>
            
    </nav>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative" data-dot="<img src={% static 'img/urban-cloud-1.jpg' %}>">

                <img class="img-fluid" src="{% static 'img/urban-cloud-1.jpg' %}" alt="">
               
                
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-12">
                                <h6 class="display-2 text-white animated slideInDown">We reimagine the possibilities for Digital transformation from innovation to growth.</h6>
                                {% comment %} <p class="fs-5 fw-medium text-white mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p> {% endcomment %}
                                {% comment %} <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">Read More</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src={% static 'img/urban-cloud-2.jpg' %}>">
                <img class="img-fluid" src="{% static 'img/urban-cloud-2.jpg' %}" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-12">
                                <h1 class="display-2 text-white animated slideInDown">Scalability, manageability, robustness, and efficiency is our top priority, always.</h1>
                                {% comment %} <p class="fs-5 fw-medium text-white mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p> {% endcomment %}
                                {% comment %} <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">Read More</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src={% static 'img/urban-cloud-1.jpg' %}>">
                <img class="img-fluid" src="{% static 'img/urban-cloud-1.jpg' %}" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-12">
                                <h4 class="display-2 text-white animated slideInDown">We reimagine the possibilities for Digital transformation from innovation to growth.</h4>
                                {% comment %} <p class="fs-5 fw-medium text-white mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p> {% endcomment %}
                                {% comment %} <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">Read More</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Feature Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-users text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">55</h1>
                    </div>
                    <h5 class="mb-3">Happy Clients</h5>
                    <span>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit</span>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-check text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">12</h1>
                    </div>
                    <h5 class="mb-3">Projects Done</h5>
                    <span>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit</span>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-award text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">3</h1>
                    </div>
                    <h5 class="mb-3">Awards Win</h5>
                    <span>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit</span>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-users-cog text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">98</h1>
                    </div>
                    <h5 class="mb-3">Cups of coffee</h5>
                    <span>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Start -->


   

       


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
                <h6 class="text-primary">Best Service offerings</h6>
                <h1 class="mb-4">We deliver innovative digital solutions through result-oriented, open-minded agile partnerships.</h1>
            </div>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/Digital-Engineering.jpg' %}" alt="">
                        <div class="position-relative p-4 pt-0">
                            <div class="service-icon">
                                <i class="fa fa-solar-panel fa-3x"></i>
                            </div>
                            <h4 class="mb-3">Digital Engineering</h4>
                            <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                            <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/Digital-Data-Engineering.jpg' %}" alt="">
                        <div class="position-relative p-4 pt-0">
                            <div class="service-icon">
                                <i class="fa fa-wind fa-3x"></i>
                            </div>
                            <h4 class="mb-3">Digital Data Engineering</h4>
                            <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                            <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/Digital-Commerce.jpg' %} " alt="">
                        <div class="position-relative p-4 pt-0">
                            <div class="service-icon">
                                <i class="fa fa-lightbulb fa-3x"></i>
                            </div>
                            <h4 class="mb-3">Digital Commerce</h4>
                            <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                            <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/Digital-Operations.jpg' %}" alt="">
                        <div class="position-relative p-4 pt-0">
                            <div class="service-icon">
                                <i class="fa fa-solar-panel fa-3x"></i>
                            </div>
                            <h4 class="mb-3">Digital Operations</h4>
                            <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                            <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded overflow-hidden">
                        <img class="img-fluid" src="{%static 'img/Digital-experience-Design.jpg' %}" alt="">
                        <div class="position-relative p-4 pt-0">
                            <div class="service-icon">
                                <i class="fa fa-wind fa-3x"></i>
                            </div>
                            <h4 class="mb-3">Digital Experience Design</h4>
                            <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                            <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/Digital-Marketing.jpg' %}" alt="">
                        <div class="position-relative p-4 pt-0">
                            <div class="service-icon">
                                <i class="fa fa-lightbulb fa-3x"></i>
                            </div>
                            <h4 class="mb-3">Digital Marketing</h4>
                            <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                            <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
     

     <!-- Vision Mission  -->
    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container vision px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <h6 class="text-primary">Vision</h6>
                        <h2 class="mb-4">Be a global digital technology leader, most admired for its people, partnerships & performance.</h2>
                        {% comment %} <p>We are an agile digital technology innovation partner for enterprises, public sector organizations and software product companies . We at urban cloud technologies believe that success and innovation happens focus on learning, partnership and result-orientation. We understand that true creativity and impact comes from relationships between our team members and client team.</p> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <h6 class="text-primary">Mission</h6>
                        <h2 class="mb-4">We are committed to customer success by providing innovative digital solutions in the spirit of true partnership.</h2>
                        {% comment %} <p>We are an agile digital technology innovation partner for enterprises, public sector organizations and software product companies . We at urban cloud technologies believe that success and innovation happens focus on learning, partnership and result-orientation. We understand that true creativity and impact comes from relationships between our team members and client team.</p> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vision Mission -->
 <!-- FAQ -->

 <div class="container" id="accordionExample" style="max-width: 1000px;">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is a Digital Marketing Company?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>A digital marketing company is different from your traditional marketing company. They are typically
                           focused on results-based marketing in the digital world using data-driven and targeted brand promotion 
                           through technology which include search engines, social media platforms, 
                          email marketing, banner advertisement and other forms of digital media.</strong> 
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Benefits of a Digital Marketing Agency?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Digital Marketing Agencies Improve your Business Visibility – With Millions of consumers using digital
                           platforms to surf and purchase products and services, the digital marketing agency helps you reach out
                            to potential customers on the most appropriate 
                          digital platforms based upon your digital marketing objectives. </strong> 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What is SEO Company ?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>An Agency which offers Search Engine Optimization services is known as SEO Company. It helps businesses
                           improve online visibility on Search Engines. They make sure that your website is Search Engine friendly
                            and well optimized so that with proper relevant back links and on 
                          page SEO it can rank on Top search results for Targeted Keywords </strong> 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How SEO is performed at a professional SEO Company?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>A professional SEO Company will send you a SEO Questionaire and based upon the answers
                         along with Keyword research and competitor research it will come up customised solutions 
                         so that your brand ranks for targeted Keywords in Search Engine Results. 
                        They will provide you with Monthly Reports mentioning the activities and progress </strong> 
        </div>
      </div>
    </div>
  </div>
  </div> 
  
   
  
      <!-- FAQ ends -->
  
      <!-- Footer Start -->
      <div class="container-fluid bg-dark text-body footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
          <div class="container py-5">
              <div class="row g-5">
                  <div class="col-lg-3 col-md-6">
                      <h5 class="text-white mb-4">Address</h5>
                      <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>C-1901, Platina Lodha Palava Near Lodha</p>
                      <p class="mb-2">World School, Kalyan - Shilphata Rd, Dombivli</p>
                      <p class="mb-2">East, Mumbai Maharashtra 421204</p>
                      <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 8625086058</p>
                      <p class="mb-2"><i class="fa fa-envelope me-3"></i>aditya.gade@urban-clouds.in</p>
                      <div class="d-flex pt-2">
                          <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                          <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                          <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <h5 class="text-white mb-4">Quick Links</h5>
                      <a class="btn btn-link" href="">About Us</a>
                      <a class="btn btn-link" href="">Contact Us</a>
                      <a class="btn btn-link" href="">Our Services</a>
                      
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <h5 class="text-white mb-4">Project Gallery</h5>
                      <div class="row g-2">
                          <div class="col-4">
                              <img class="img-fluid rounded" src="{% static 'img/gallery-1.jpg' %}" alt="">
                          </div>
                          <div class="col-4">
                              <img class="img-fluid rounded" src="{% static 'img/gallery-2.jpg' %}" alt="">
                          </div>
                          <div class="col-4">
                              <img class="img-fluid rounded" src="{% static 'img/gallery-3.jpg' %}" alt="">
                          </div>
                          <div class="col-4">
                              <img class="img-fluid rounded" src="{% static 'img/gallery-4.jpg' %}" alt="">
                          </div>
                          <div class="col-4">
                              <img class="img-fluid rounded" src="{% static 'img/gallery-5.jpg' %}" alt="">
                          </div>
                          <div class="col-4">
                              <img class="img-fluid rounded" src="{% static 'img/gallery-6.jpg' %}" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <h5 class="text-white mb-4">Newsletter</h5>
                      <p>Subscribe to our Newsletter !</p>
                      <div class="position-relative mx-auto" style="max-width: 400px;">
                          <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                          <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="copyright">
                  <div class="row">
                      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                          &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                      </div>
                      <div class="col-md-6 text-center text-md-end">
                          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                          Designed By <a> Sushant Jadhav </a>
                          <br>Distributed By: <a>RESS</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End -->
  
  
      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
  
  
      <!-- JavaScript Libraries -->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="{% static 'lib/wow/wow.min.js' %}" ></script>
      <script src="{% static 'lib/easing/easing.min.js' %}" ></script>
      <script src="{% static 'lib/waypoints/waypoints.min.js' %}" ></script>
      <script src="{% static 'lib/counterup/counterup.min.js' %}" ></script>
      <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}" ></script>
      <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}" ></script>
      <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}" ></script>
  
      <!-- Template Javascript -->
      <script src="{% static 'js/main.js' %}"></script>
  </body>
  
  </html>